
<div class="p-5 text-center bg-body-tertiary rounded-3">
  <img  class="bi mt-4 mb-3"  width:"100%" height="500" src="{{product.image}}" alt="0">
    <h1 class="text-body-emphasis">{{product.title}}</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        {{product.description}}
    </p>

     <p class="fs-4 fw-bold" style="font-style: italic;text-decoration:underline;color:blueviolet">Created by:{{product.user.FirstName}} {{product.user.LastName}}</p>
  </div>